/* Upstream fonts, locally served. Exact sources and licenses: fonts/manifest.json. */
@font-face {
  font-family: "Pretendard Variable";
  src: url("fonts/pretendard-variable.woff2") format("woff2");
  font-style: normal;
  font-weight: 45 920;
  font-display: swap;
}
@font-face {
  font-family: "SUIT Variable";
  src: url("fonts/suit-variable.woff2") format("woff2");
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans KR";
  src: url("fonts/noto-variable.woff2") format("woff2");
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
}
@font-face {
  font-family: "Wanted Sans Variable";
  src: url("fonts/wanted-variable.woff2") format("woff2");
  font-style: normal;
  font-weight: 400 1000;
  font-display: swap;
}
@font-face {
  font-family: "Spoqa Han Sans Neo";
  src: url("fonts/spoqa-400.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Spoqa Han Sans Neo";
  src: url("fonts/spoqa-500.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Spoqa Han Sans Neo";
  src: url("fonts/spoqa-700.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
